
.container{
  display: flex;
  flex-wrap: wrap;
  background-color: #031D44;
  justify-content: center;
  color: white;



}

/*media query for mobile phon */

@media and (min-width: 350px){
    img{

    flex-direction: column;


  }

  /*media query for tablet*/

@media and (max-width: 760px){
  img{
    width: 100%;
  }
  .container {
    flex-direction: column;

  }
}
